<div class='container'>
  <div class='nav-wrapper'>
    <a href='/' class='brand-logo'>&#128209;ProjNotes</a>
    <ul id='nav-mobile' class='right hide-on-med-and-down'>
      <li><a href='/'>Inicio</a></li>
      <li><a href='/about'>Acerca de</a></li>
    </ul>
  </div>
</div>