<html>
  <head>
    <title>{{title}}</title>
    <link rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon' />
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
    <nav>
      {{>_navbar}}
    </nav>
    <div class='container'>
      {{{body}}}
    </div>
    <script src='/bundle.js'></script>
  </body>
</html>